<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">       
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Roboto+Slab:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet"> 
    <title>Blog</title>
</head>
<style>
    .pd-home-cont-r {
        top: 1rem;
    }
    .pd-home-cont-2 {
        display: flex;
        display: none;
    }
    .pdform {
        top: 2rem;
        z-index: 5;
        background-color: #ababab;
    }
    @media only screen and (max-width:1024px){
        .pdform{
            display: none;
        }
    }
    .product-main-cont {
        position: relative;
        top: 2rem;
    }
    .main-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    </style>
<body>
    <header id="header"> 
        <nav class="navbar">       
            <div class="logo-cont">
                <a href="/">
                    <img src="image/softwarelionslogo.png" alt="Please wait." >
                </a>
            </div>     
            <ul class="nav-ul">                
                <li id="items1"  class="items"><a href="/">Homes</a></li>
                <li id="items2"  class="items"><a href="/About">About Us</a></li>
                <li id="items3"  class="items"><a href="/Blog">Blog</a></li>
                <li id="items4"  class="items"><a href="/Services">Services</a></li>
                <li id="items5"  class="items"><a href="/Contact-Us">Contact-Us</a></li>
            </ul>     
            <div class="hamburger-menu">
                <div class="line" id="line1"></div>
                <div class="line" id="line2"></div>
                <div class="line" id="line3"></div>
            </div>       
        </nav>
        <header id="header-2">      
        <div class="main-cont-srch">     
            <div class="search-cont">
                <form action="/search_res" method="get">
                    <div class="search-b">
                        <input type="text" name="title" id="Search-query" size="40" placeholder="Search Products">
                        <button type="submit" class="btn"><i class="fas fa-search"></i>&nbsp;<span>Search</span></button>
                    </div>                    
                </form>
            </div>
        </div> 
        </header>
    </header>
    <main style="padding-bottom: 0rem;">
        <div class="web-nav">
            <a href="#">Home</a>
            <a href="#"> &nbsp; <b>/</b> &nbsp; Blog</a>
        </div>

        <section>
            <div class="conBlog1">
                <div class="conBlog2">
                       
                </div>
            </div>
                
        </section>        

    </main>
    <footer>
        <div class="foot-main-cont">
            <div class="foot-cont">
                <div class="row" id="row1">
                    <h2>Main Menu</h2>
                    <nav class="menu-li">
                        <li><a href="/"><i class="fas fa-chevron-left"></i>&nbsp;Home</a></li>
                        <li><a href="/About"><i class="fas fa-chevron-left"></i>&nbsp;About-Us</a></li>
                        <li><a href="/Blog"><i class="fas fa-chevron-left"></i>&nbsp;Blog</a></li>
                        <li><a href="/Services"><i class="fas fa-chevron-left"></i>&nbsp;Services</a></li>
                        <li><a href="/Contact-Us"><i class="fas fa-chevron-left"></i>&nbsp;Contact-Us</a></li>
                    </nav>
                </div>
                <div class="row" id="row2">
                    <h2>Get in Touch</h2>
                    <a href="https://gmail.com/" target="_blank"><i class="fas fa-chevron-left"></i>&nbsp;Softwarslions1@gmail.com <span style="padding-left: 0.9rem;"> </span> <br> <span style="padding-left: 0.9rem;"></span> <br> </a>
                    <a href="tel: +91 9773602742"><i class="fas fa-chevron-left"></i>&nbsp;+91 9773602742</a>
                </div>
                <div class="row" id="row3">
                    <h2>OUR POLICY</h2>
                    <nav class="li-2">
                        <li><a href="/About"><i class="fas fa-chevron-left"></i>&nbsp;Privacy Policy</a></li>
                        <li><a href="/About"><i class="fas fa-chevron-left"></i>&nbsp;Terms & Conditions</a></li>
                        <li><a href="/About"><i class="fas fa-chevron-left"></i>&nbsp;Cancellation & Refund Policy</a></li>
                    </nav>
                </div>
                <div class="row" id="row4">
                    <h2>NEWSLETTER</h2>
                    <form action="/" method="post">
                        <input type="email" name="email" id="newsletter" placeholder="Email-Id" required>
                        <button type="submit" id="newsletter2" class="cur-btn">Submit</button>
                        </form>
                </div>
                </div>
            </div>
        </div>
    </footer> 
    <script src="pdsearch.js"></script>
    <script src="https://kit.fontawesome.com/7e40b36327.js" crossorigin="anonymous"></script>
</body>
</html>